<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Register your persol info</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" #formDir="ngForm">

      <div [hidden]="formDir.submitted">
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="DNI" id="dni" class="form-control" formControlName="dni" required>
          </mat-form-field>
          <div *ngIf="fail.show" class="error-alert">
            <a class="error">DNI is duplicated.</a>
          </div>
          <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="alert alert-danger">
            <div *ngIf="dni.errors.required">
              <a class="error">DNI is required.</a>
            </div>
            <div *ngIf="dni.errors.minlength">
              <a class="error">DNI must be at least 4 characters long.</a>
            </div>
            <div *ngIf="dni.errors.pattern">
              <a class="error">DNI must be numeric.</a>
            </div>
          </div>
        </div>

        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" id="name" class="form-control" formControlName="name" required>
          </mat-form-field>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

            <div *ngIf="name.errors.required">
              <a class="error">Name is required.</a>
            </div>
            <div *ngIf="name.errors.minlength">
              <a class="error">Name must be at least 4 characters long.</a>
            </div>
          </div>
        </div>

        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" id="email" class="form-control" formControlName="email" required>
          </mat-form-field>
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

            <div *ngIf="email.errors.required">
              <a class="error">Email is required.</a>
            </div>
            <div *ngIf="email.errors.email">
              <a class="error">Email must be valid.</a>
            </div>
          </div>
        </div>

        <div class="form-group">          
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Your profile" id="profile" class="form-control" formControlName="profile" required>
          </mat-form-field>
          <div *ngIf="profile.invalid && (profile.dirty || profile.touched)" class="alert alert-danger">

            <div *ngIf="profile.errors.required">
                <a class="error">Your age is required.</a>              
            </div>
            <div *ngIf="profile.errors.max">
                <a class="error">Your profile is incorrect.</a>              
            </div>
            <div *ngIf="profile.errors.forbiddenProfile">
                <a class="error">Your profile it's not user or admin</a>              
            </div>
          </div>
        </div>
      </div>
    </form>
    <div>
      <div *ngIf="!fail.show">
        <div *ngIf="fail.name !== ''">
          <a class="result">Saved succesfully.</a>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button type="submit" (click)="login()" [disabled]="!loginForm.valid" color="primary">Login</button>
  </mat-card-actions>
</mat-card>